@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: "Outfit", sans-serif !important;
  padding: 0px;
  margin: 0%;
  box-sizing: border-box;
}
* {
  font-family: "Outfit", sans-serif !important;
}
